<ion-view view-title="Contact Us">
  <ion-content>
                  
        <div class="card">
            <div class="item item-divider">
                Location Information
            </div>
            <div class="item item-thumbnail-center">
                    <h2>Our Address</h2>
                    <address style="font-size: 100%">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                

        
            </div>
            
                    <div class="button-bar bar-stable">
                    <a  class="button button-positive" href="tel:+85212345678"><i class="fa fa-phone"></i>Call</a>
                    <a  class="button button-calm"><i class="fa fa-skype"></i> Skype</a>
                    <a  class="button button-balanced" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>                
            

        </div>
      
  </ion-content>

</ion-view>